@{
    ViewBag.Title = "Allotsubject";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}
@using mycollage.Models;
@using System.Data;
<script src="~/Content/js/course.js"></script>
<script src="~/Content/css/akash.js"></script>
<div class="container-fluid">
<div class="col-sm-12">
    <div class="col-sm-4"></div>
    <div class="col-sm-4" style="border:1px solid black;margin:1%;">
        <form action="/Admin/Allotsubject" method="post">
            <div class="col-sm-12 panel panel-heading text-center" ><p style="background: teal; color: white;font-size:25px;">Allot Subject</p></div>
            
                @Html.Raw(ViewBag.get)
           
            <div class="col-sm-12">
                <input type="hidden" value="@ViewBag.show" name="txtid" />
            </div>
            <div class="col-sm-12 ">
                <input type="submit" value="Asign" class="btn-danger btn btn-block" style="margin-bottom:10px;"  />
            </div>
        </form>
    </div>
    <div class="col-sm-4"></div>
</div>
<div class="row">
    <!--code for show details-->
    @{
        string cmd = "select * from Faculties";
        DatabaseManager db = new DatabaseManager();
        DataTable dt = db.GetAllRecord(cmd);
        if (dt.Rows.Count > 0)
        {
            <table class="table table-responsive" width="100%" style="font-family:'Times New Roman'">
                <thead><tr style="background-color: #0c79c3; box-shadow: inset 0 0 2em black; border: 1px solid black; margin-top: 1%;color:white;font-size:18px; "><th>TeacherName</th><th>TeacherId</th><th>Email</th><th>Branch</th><th>Subject</th></tr></thead>
                <tbody>

                    @for (int i = 0; i < dt.Rows.Count; i++)
                    {
                        <tr>
                           

                            <td>@dt.Rows[i]["TeacherName"]</td>
                            <td>@dt.Rows[i]["TeacherId"]</td>
                            <td>@dt.Rows[i]["Email"]</td>
                            <td>@dt.Rows[i]["Branch"]</td>
                            <td>@dt.Rows[i]["subject"]</td>

                        </tr>
                    }
                </tbody>
            </table>
        }
    }

    <!--End code for show details-->
</div>
</div>
