@{
    ViewBag.Title = "view_Faculties";
    Layout = "~/Views/Shared/princplemaster.cshtml";
}

@using mycollage.Models;
@using System.Data;
<link href="~/Content/css/akash.css" rel="stylesheet" />
<script src="~/Content/js/course.js"></script>
<script src="~/Content/css/akash.js"></script>
<script src="~/Content/css/akash.js"></script>
<script>
    $(document).ready(function () {
        $("#example").DataTable();
    })

</script>
<div class="container-fluid">
    @*<div class="col-sm-12">
        <div class="col-sm-4"></div>
        <div class="col-sm-4" style="border:1px solid black;margin-top:1%;">
            <form action="/Admin/Allotsubject" method="post">
                <div class="col-sm-12 panel panel-heading text-center"><p style="background: teal; color: white;font-size:25px;">Allot Subject</p></div>
                <div class="col-sm-12">
                    @Html.Raw(ViewBag.get)
                </div>
                <div class="col-sm-12">
                    <input type="hidden" value="@ViewBag.show" name="txtid" />
                </div>
                <div class="col-sm-12 form-control">
                    <input type="submit" value="Asign" class="btn-danger btn-block" />
                </div>
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>*@
    <div class="row">
        <!--code for show details-->
        @{
            string cmd = "select * from Faculties";
            DatabaseManager db = new DatabaseManager();
            DataTable dt = db.GetAllRecord(cmd);
            if (dt.Rows.Count > 0)
            {
                   <div class="col-sm-12" style="overflow-y:scroll;height:500px">
                       <table class="table table-responsive" id="example" width="100%">
                           <thead><tr style="background-color: #0c79c3; box-shadow: inset 0 0 2em black; border: 1px solid black; margin-top: 1%;color:white;font-size:18px; "><th>TeacherName</th><th>TeacherId</th><th>Email</th><th>Branch</th><th>Subject</th></tr></thead>
                           <tbody>

                               @for (int i = 0; i < dt.Rows.Count; i++)
                               {
                                   <tr>


                                       <td>@dt.Rows[i]["TeacherName"]</td>
                                       <td>@dt.Rows[i]["TeacherId"]</td>
                                       <td>@dt.Rows[i]["Email"]</td>
                                       <td>@dt.Rows[i]["Branch"]</td>
                                       <td>@dt.Rows[i]["subject"]</td>

                                   </tr>
                               }
                           </tbody>
                       </table>
                       </div>
            }
        }

        <!--End code for show details-->
    </div>
</div>