@{
    ViewBag.Title = "Upload_Project_Report";
    Layout = "~/Views/Shared/TeacherMaster.cshtml";
}
@using System.Data.Sql;
@using System.Data;
@using mycollage.Models;
<link href="~/Content/css/akash.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Content/js/jquery.js"></script>
<script src="~/Content/js/course.js"></script>
<script src="~/Content/css/akash.js"></script>
<script>
    $(document).ready(function () {
        $("#example").DataTable();
    })

</script>
<div class="container-fluid" style="padding:0px;">
    <div class="col-sm-12" style="background:gray;padding:0px;">
        <div class="col-sm-6 text-center" style="background:gray;min-height:50px; color:whitesmoke;font-weight:bolder;"><h4>Project Report</h4></div>
        <div class="col-sm-6 text-center" style="background:gray;min-height:50px; color:whitesmoke;font-weight:bolder;">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="margin-top:7px;">
                AddProject Report
            </button>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel" style="font-family:sans-serif;font:bolder;">Submit Project Report</h4>
                </div>
                <div class="modal-body">
                    <form action="/Admin/Project_Report" method="post" enctype="multipart/form-data">
                        <!--------------------------------------------------------->
                        <div class="row" style="font-size: 20px;">
                            <div class="col-sm-12 " style="">
                                <select name="branch" class="col-sm-12 form-control">
                                    <option> select Branch</option>
                                    <option value="CS">Computer Science</option>
                                    <option value="EE">Electrical Enggr</option>
                                    <option value="ELX">Electrical Enggr</option>

                                </select>
                            </div>
                            <div class="col-sm-12" style=" margin-top:15px;"><input type="text" class="form-control" placeholder="Enter project title" name="ptitle" required /></div>
                            <div class="col-sm-12" style=" margin-top:15px;"><input type="text" class="form-control" placeholder="Ente project technology" name="ptechnology" required /></div>
                            <div class="col-sm-12" style=" margin-top:15px;"><input type="file" class="form-control" placeholder="Ente project file" name="preport" required /></div>

                        </div>



                        <!--------------------------------------------------------->

                        <div class="modal-footer">
                            <input type="submit" class="btn btn-default" data-dismiss="modal" value="close" style="background-color:#0c79c3; margin:0px;box-shadow:inset 0 0 2em black;color:whitesmoke;" />
                            <input type="submit" class="btn btn-primary" style="background-color:#0c79c3; margin:0px;box-shadow:inset 0 0 2em black;color:whitesmoke;" />
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    </div>
    <!-- /.modal -->
    <!--code for show details-->
    @{
        string cmd = "select * from ProjectReport";
        DatabaseManager db = new DatabaseManager();
        DataTable dt = db.GetAllRecord(cmd);
        if (dt.Rows.Count > 0)
        {
             <div class="col-sm-12" style="overflow-y:scroll;height:500px">
                 <table class="table table-responsive" id="example" width="100%">
                     <thead><tr style="background-color: #0c79c3; box-shadow: inset 0 0 2em black; border: 1px solid black; margin-top: 1%;color:white;font-size:18px; "><th>Id</th><th>Branch</th><th>Project Title</th><th>Project Technology</th><th>ReportFile</th><th>Download</th></tr></thead>
                     <tbody>

                         @for (int i = 0; i < dt.Rows.Count; i++)
                         {
                             <tr>
                                 <td class="td1">@dt.Rows[i]["Id"]</td>
                                 <td>@dt.Rows[i]["Branch"]</td>
                                 <td>@dt.Rows[i]["ProjectTitle"]</td>
                                 <td>@dt.Rows[i]["ProTechnology"]</td>
                                 <td>@dt.Rows[i]["Projectfile"]</td>
                                 <td>
                                     <a href="../Content/pic/@dt.Rows[i]["Projectfile"]"><span class="fa fa-download"></span></a>
                                 </td>
                             </tr>
                         }
                     </tbody>
                 </table>
                 </div>
        }
    }

    <!--End code for show details-->
